@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: 28 31 35; /* #1c1f23 */
    --color-dark: 32 33 36; /* #202124 */
    --color-background: 245 246 250; /* #f5f6fa */
    --color-background-dark: 14 14 15; /* #0e0e0f */
    --swiper-pagination-color: #1c1f23;
}

html,
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-size-adjust: 100%;
    background-color: rgb(var(--color-background));
    @apply text-gray-800;
}

html.dark,
html.dark body {
    background-color: rgb(var(--color-background-dark));
    @apply text-[#bdc1c6];
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

html.dark a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

.responsive {
    @apply max-w-6xl mx-auto px-4;
}

.content-item {
    @apply bg-white dark:bg-dark shadow-none md:shadow dark:shadow-black rounded-none md:rounded;
}

.flex-center {
    @apply flex items-center justify-center;
}

/*
    Nprogress
*/

#nprogress .peg {
    box-shadow: none !important;
}

/*
    Swiper
*/
.swiper-custom {
    @apply relative;
}
.swiper-custom .swiper-pagination-screenshots.bullets {
    @apply absolute bottom-2;
}
.swiper-custom .swiper-pagination-screenshots .swiper-pagination-bullet {
    @apply bg-black/90 dark:bg-white/90;
}
.swiper-custom .swiper-button-disabled {
    /* @apply opacity-70 !important; */
    @apply hidden;
}
.swiper-custom .swiper-pagination-screenshots .swiper-pagination-bullet-active {
    @apply bg-black dark:bg-white;
}

/*
    Reviews
*/

.steam_review_summary {
    @apply text-[#a34c25] dark:text-[#d87c52];
}
.steam_review_summary.mixed {
    @apply text-[#b9a074];
}
.steam_review_summary.positive {
    @apply text-[#1774ee] dark:text-[#72abf5];
}
.steam_review_summary.no_reviews,
.steam_review_summary.not_enough_reviews {
    @apply text-[#929396];
}

.metacritic_review_summary {
    color: #fff;
}
.metacritic_review_summary.positive {
    @apply bg-[#6c3] dark:bg-[#70af50];
}
.metacritic_review_summary.mixed {
    @apply bg-[#fc3] dark:bg-[#f7b900];
}
.metacritic_review_summary.negative {
    @apply bg-[#f00] dark:bg-[#c40000];
}
